h1= title
div.hero-unit
  h1(align='center') Practice of my master education
  p
  h2
    p
      | 这是我的交大研究生《数据库系统概念》练习作业,
      | 使用Server-side javascript 实现一个简单的Web系统，通过
      | Node.js的异步IO操作特性可实现对数据库(这里使用Mysql)进行
      | 异步操作，从而实现高并发应用.
      | 因为初学Node.js，而且该技术是最近才开始发展起来的，文档很
      | 少，所以学习进度较慢，只能完成简陋的一个流程.
      | 环境搭建比较麻烦，可参考http://expressjs.com/guide.html#installation

