h1= title
div.add
  a(href="/article/new")!="Add new article"

#articles
    - each article in articles
      div.article
        div.created_at= article.created_at
        div.title 
            a(href="/article/"+article._id.toString())!= article.title
        div.body= article.body